extends base

block content 
    .container-fluid.player-single-container 
        .row.justify-content-between
            .col-4
                h3.player-single-heading=`${player.firstName} ${player.lastName}`
            .col-4
                a.btn.btn-success(href='/' role="button") << Back To All Players
        .row 
            .col-lg-3.col-md-4 
                if player.image
                    img.player-image(src=`${player.image}` alt=`${player.firstName} ${player.lastName}`)
                    if user
                        a(href=`/addphoto/${player.slug}`)
                            i.fa-solid.fa-pen-to-square.edit-season(style='margin-left: 0.7rem; color:#336600; font-size: 1.3rem')
                else
                    img.player-image(src='/img/blank.jpg' alt=`${player.firstName} ${player.lastName}`)
            .col-lg-9.col-md-8 
                ul.player-details 
                    li.green-bold= `Appearances: ${player.totalApps} Goals: ${player.totalGoals}`
                        if user
                            a(href=`/players/${player.slug}/edit`)
                                i.fa-solid.fa-pen-to-square.edit-season(style='margin-left: 0.7rem; color:#336600; font-size: 1.3rem')
                    li= `Date of Birth: ${player.dateOfBirth}`
                    li= `Position: ${player.position}`
                    li= `Debut: ${player.debut}`
                    li= `First Goal: ${player.firstGoal}`
        .row.honours-box 
            .col
                span(style='font-weight:bold; margin-right: 0.7rem') Honours:
                span= player.honours
        .row.apps-panel 
            .col Appearances (Goals in brackets)
        .row 
            table.table.table-bordered.table-hover.stats-table
                thead 
                    tr 
                        th Season
                        th Team
                        th Div
                        th Lge
                        th FAI
                        th MJC
                        th MSC
                        th Des C
                        th Lge C
                        th Reidy C
                        th Hogan C
                        th Total
                tbody 
                    - const sortedSeasons = player.seasons.sort((a, b) => parseInt(a.season.slice(0, 4)) - parseInt(b.season.slice(0, 4)))
                    each season in sortedSeasons
                        tr 
                            td= season.season
                                if user
                                    span.player-btns 
                                        i.fa-solid.fa-circle-xmark.delete-season(data-season=`${season._id}` style='color:red; font-size: 1.3rem')
                                        i.fa-solid.fa-pen-to-square.edit-season(data-season=`${season._id}` data-player=`${player.slug}` style='margin-left: 0.7rem; color:green; font-size: 1.3rem')
                            td= season.team
                            td= season.division
                            td= `${season.lge_apps} ${season.lge_goals == '0' ? `` : `(${season.lge_goals})`}`
                            td= `${season.fai_apps} ${season.fai_goals == '0' ? `` : `(${season.fai_goals})`}`
                            td= `${season.mjc_apps} ${season.mjc_goals == '0' ? `` : `(${season.mjc_goals})`}`
                            td= `${season.msc_apps} ${season.msc_goals == '0' ? `` : `(${season.msc_goals})`}`
                            td= `${season.desc_apps} ${season.desc_goals == '0' ? `` : `(${season.desc_goals})`}`
                            td= `${season.lgec_apps} ${season.lgec_goals == '0' ? `` : `(${season.lgec_goals})`}`
                            td= `${season.reidyc_apps} ${season.reidyc_goals == '0' ? `` : `(${season.reidyc_goals})`}`
                            td= `${season.hoganc_apps} ${season.hoganc_goals == '0' ? `` : `(${season.hoganc_goals})`}`
                            - if (season.team === 'A')
                                td= `${season.seasonTotalAppsA} ${season.seasonTotalGoalsA == '0' ? `` : `(${season.seasonTotalGoalsA})`}`
                            - if (season.team === 'B')
                                td= `${season.seasonTotalAppsB} ${season.seasonTotalGoalsB == '0' ? `` : `(${season.seasonTotalGoalsB})`}`
        if user
            .text-center    
                a.btn.btn-success(href=`/addseason/${player._id}/A` role="button" style="margin-top: 1rem; margin-right: 0.5rem") Add Season (A Team)
                a.btn.btn-warning(href=`/addseason/${player._id}/B` role="button" style="margin-top: 1rem") Add Season (B Team)
        .modal.delete-season-modal
            .modal-dialog
                .modal-content 
                    .modal-header 
                        h5.modal-title Delete Season
                    .modal-body 
                        p Are you sure you want to delete this season?
                    .modal-footer 
                        button.btn.btn-danger.delete-season-btn Yes, Delete! 
                        button.btn.btn-primary.cancel-delete-season Cancel
    script(src="/js/deleteSeason.js") 