extends base

block content
    .container-fluid 
        h3.page-heading All-Time Player Statistics 1984 – present
        h5.page-subheading Click on headings to sort descending
        table.table.table-bordered.table-hover.player-table
            thead
                tr 
                    th(style="width: 50%; line-height: 2.2rem; text-align:left")
                        a(href='/players/sort/lastName') Player Name
                    th
                        a(href='/players/sort/-aTeamApps') A Team Apps
                    th
                        a(href='/players/sort/-aTeamGoals') A Team Goals
                    th
                        a(href='/players/sort/-bTeamApps') B Team Apps
                    th
                        a(href='/players/sort/-bTeamGoals') B Team Goals
                    th
                        a(href='/players/sort/-totalApps') Total Apps
                    th
                        a(href='/players/sort/-totalGoals') Total Goals
            tbody 
                each player in players
                    tr
                        td(style='text-align:left') 
                            a(href=`/players/${player.slug}`)
                                strong= `${player.lastName.toUpperCase()}, `
                                span= player.firstName
                            if user
                                span.player-btns 
                                    i.fa-solid.fa-circle-xmark.delete-player(data-slug=`${player.slug}`, style='color:red; font-size: 1.3rem')
                                    i.fa-solid.fa-pen-to-square.edit-player(data-slug=`${player.slug}`, style='margin-left: 0.7rem; color:green; font-size: 1.3rem')
                        td= player.aTeamApps
                        td= player.aTeamGoals
                        td= player.bTeamApps
                        td= player.bTeamGoals
                        td 
                            strong= player.totalApps
                        td
                            strong= player.totalGoals
        if user
            .text-center    
                a.btn.btn-success(href='/addplayer' role="button" style="margin-top: 1rem") Add Player
        .modal.delete-player-modal
            .modal-dialog
                .modal-content 
                    .modal-header 
                        h5.modal-title Delete Player
                    .modal-body 
                        p Are you sure you want to delete this player?
                    .modal-footer 
                        button.btn.btn-danger.delete-player-btn Yes, Delete! 
                        button.btn.btn-primary.cancel-delete-player Cancel
    script(src="/js/deletePlayer.js") 
                    