extends base

block content 
    .container-fluid 
        h3.page-heading#player-slug(data-slug=`${player.slug}`)= `Updating Player: ${player.firstName} ${player.lastName}`
        form(style="width: 80%; margin: auto").update-player-form
            .row
                .col-md-4.col-sm-12
                    .mb-3 
                        label.form-label(for='firstName') First Name: 
                        input.form-control(type='text' value=`${player.firstName}` id='firstName' required)
                .col-md-4.col-sm-12
                    .mb-3 
                        label.form-label(for='lastName') Last Name: 
                        input.form-control(type='text' value=`${player.lastName}` id='lastName' required)
                .col-md-4.col-sm-12
                    .mb-3
                        label.form-label(for='slug') Player Slug: 
                        input.form-control(type='text' value=`${player.slug}` id='slug')
            .row 
                .col-md-6.col-sm-12 
                    .mb-3 
                        label.form-label(for='dateOfBirth') Date of Birth: 
                        input.form-control(type='text' value=`${player.dateOfBirth}` id='dateOfBirth')
                .col-md-6.col-sm-12 
                    .mb-3 
                        label.form-label(for='position') Position: 
                        select.form-control(name='position' id='position' required data-possel=`${player.position}`)
                            option(value='Goalkeeper') Goalkeeper
                            option(value='Defender') Defender
                            option(value='Left Full Back') Left Full Back
                            option(value='Right Full Back') Right Full Back
                            option(value='Centre Half') Centre Half
                            option(value='Utilty') Utilty
                            option(value='Midfield') Midfield
                            option(value='Winger') Winger
                            option(value='Striker') Striker
                            option(value='Forward') Forward
            .row 
                .col-md-6.col-sm-12 
                    .mb-3 
                        label.form-label(for='debut') Debut: 
                        input.form-control(type='text' value=`${player.debut}` id='debut')
                .col-md-6.col-sm-12 
                    .mb-3 
                        label.form-label(for='firstGoal') First Goal: 
                        input.form-control(type='text' value=`${player.firstGoal}` id='firstGoal')
            .row 
                .col 
                    .mb-3 
                        label.form-label(for='honours') Honours: 
                        textarea.form-control(id='honours' rows="3")= player.honours
            .text-center
                button.btn.btn-success.btn-lg(type='submit') Update Player
                a.btn.btn-outline-danger.btn-lg(href='/' role="button" style="margin-left: 0.7rem") Go Back
    script(src="/js/updatePlayer.js") 